.Wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% auto auto 10%;
      grid-template-columns: 10% auto auto 10%;
  -ms-grid-rows: auto auto auto auto;
      grid-template-rows: auto auto auto auto;
  grid-gap: 3em;
  background: url("../../Assests/Images/orOpt.jpg");
  background-size: cover;
}

.Wrapper .plantifyOverlay {
  margin-top: 20px;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Wrapper .plantifyOverlay:hover span {
  visibility: initial;
  display: initial;
}

.Wrapper .plantifyOverlay:hover .techImg {
  visibility: initial;
  display: initial;
}

.Wrapper .projectImg {
  z-index: 1 !important;
  height: 15vw;
  visibility: visible;
}

.Wrapper span {
  position: absolute;
  color: white;
  left: 0;
  z-index: 5;
  visibility: hidden;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.Wrapper span:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.Wrapper span:hover, .Wrapper span:focus, .Wrapper span:active {
  color: white;
}

.Wrapper span:hover:before, .Wrapper span:focus:before, .Wrapper span:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.Wrapper .techImg {
  position: relative;
  color: white;
  width: 5vw;
  left: 0;
  top: 5vw;
  pointer-events: none;
  z-index: 5;
  visibility: hidden;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.Wrapper .techImg:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.Wrapper .techImg:hover, .Wrapper .techImg:focus, .Wrapper .techImg:active {
  color: white;
}

.Wrapper .techImg:hover:before, .Wrapper .techImg:focus:before, .Wrapper .techImg:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
/*# sourceMappingURL=projects.css.map */