.Wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10vw 36vw 35vw 10vw;
      grid-template-columns: 10vw 36vw 35vw 10vw;
  -ms-grid-rows: auto 15vw 15vw auto;
      grid-template-rows: auto 15vw 15vw auto;
  grid-gap: 2vw;
  background: url("../../Assests/Images/orOpt.jpg");
  background-size: cover;
  background-position: center;
  padding-bottom: 50px;
}

.Wrapper .plantifyOverlay {
  margin-top: 20px;
  margin-bottom: 4vw;
  margin-left: 20px;
  position: relative;
  z-index: 1;
  height: 10vw;
  width: 32vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Wrapper .plantifyOverlay:hover span {
  visibility: initial;
  display: initial;
}

.Wrapper .plantifyOverlay:hover .techImg {
  visibility: initial;
  display: initial;
  opacity: 1;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

.Wrapper .projectImg {
  position: relative;
  z-index: 1 !important;
  height: 15vw;
  width: 32vw;
  visibility: visible;
  top: -5vw;
}

.Wrapper .projectInfo {
  margin-top: 5vw;
  font-family: 'Lexend Deca', sans-serif;
  font-size: calc(0.4rem + .5vw);
  text-align: center;
}

.Wrapper span {
  position: absolute;
  color: white;
  height: calc(15vw + 1px);
  width: calc(32vw + 1px);
  left: 0;
  top: 0;
  z-index: 4;
  visibility: hidden;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.Wrapper span:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.Wrapper span:hover, .Wrapper span:focus, .Wrapper span:active {
  color: white;
}

.Wrapper span:hover:before, .Wrapper span:focus:before, .Wrapper span:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.Wrapper .techImg {
  position: relative;
  color: white;
  width: 5vw;
  left: 0;
  pointer-events: none;
  z-index: 5;
  visibility: hidden;
  opacity: 0;
}

@media screen and (max-width: 700px) {
  .Wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: auto 40vw 40vw auto auto 40vw 40vw auto auto 40vw auto;
        grid-template-rows: auto 40vw 40vw auto auto 40vw 40vw auto auto 40vw auto;
    -ms-flex-line-pack: center;
        align-content: center;
    width: 105%;
  }
  .plantifyOverlay {
    width: 100vw !important;
  }
  .projectContainer {
    margin-left: 12vw;
  }
  .projectImg {
    margin-top: -5vw !important;
    width: 70vw !important;
    height: 34vw !important;
  }
  span {
    margin-top: 5vw !important;
    margin-left: 12vw;
    width: calc(70vw + 1px) !important;
    height: calc(34vw + 3px) !important;
  }
  .techImg {
    margin-top: 5vw !important;
    width: 10vw !important;
    position: absolute;
  }
  .projectInfo {
    margin-top: 10vw !important;
    font-size: calc(0.5rem + .7vw) !important;
  }
}
/*# sourceMappingURL=projects.css.map */