@import'../Mixins/mixins.scss';

@mixin bounce-to-bottom {
	@include hacks();
	// position: relative;
	@include prefixed(transition-property, color);
	@include prefixed(transition-duration, $slowDuration);

	&:before {
		content: "";
		position: absolute;
        z-index: -1;
        // height: calc(100% - 20px); 
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0, 0, 0, .7);
		@include prefixed(transform, scaleY(0));
		@include prefixed(transform-origin, 50% 0);
		@include prefixed(transition-property, transform);
		@include prefixed(transition-duration, $slowDuration);
		@include prefixed(transition-timing-function, ease-out);
	}

	&:hover,
	&:focus,
	&:active {
		color: white;

		&:before {
			@include prefixed(transform, scaleY(1));
			@include prefixed(transition-timing-function, cubic-bezier(.52,1.64,.37,.66));
		}
	}
}


.Wrapper{ 
    display: grid;
    grid-template-columns: 10% auto auto 10%;
    grid-template-rows: auto auto auto auto;
    grid-gap: 3em;  
    background: url("../../Assests/Images/orOpt.jpg");
    background-size: cover;


    .plantifyOverlay{
        margin-top: 20px;
        position: relative;
        z-index: 1;
        // overflow: hidden;
        display: flex;
    } 

    .plantifyOverlay:hover span{
        visibility: initial;
        display: initial;    
    }
    
    .plantifyOverlay:hover .techImg{
        visibility: initial;
        display: initial;    
    }
    
    
    
    
  
    .projectImg{
        z-index: 1!important;
        height: 15vw;
        visibility: visible;
    }

    // img {
    //     // position: relative;
    //     // margin-top: 20px;
    //     width: 100%;
    //     // min-width: 100%;
    //     // min-height: 100%;
    //     z-index: 2;
    // }
        
        span {
            position: absolute;
            color: white;
            // padding: 50px;
            // height: 15vw;
            // width: 100.1%;
            // padding: 30px;
            // background: rgba(rgb(0, 0, 0), .3);
            left: 0;
            // top: 5vw;
            z-index: 5;
            visibility: hidden;
            // transition: all 2s ease-in;
            @include bounce-to-bottom();
    }
    .techImg{
        position: relative;
        color: white;
        width: 5vw;
        left: 0;
        top: 5vw;
        pointer-events: none;
        z-index: 5;
        visibility: hidden;
        // transition: all 2s ease-in;
        @include bounce-to-bottom();

    }
}