.skillsBackground{
    background: url("../../Assests/Images/borah.jpg");
    background-size: cover;
}

.backgroundOverlay{
    background-color: rgba(000, 000, 000, 0.5);
}

// Transition times for all skill images
.skillsImg{
    width: 50%;
    -webkit-transition: transform 1.5s ease-in-out;
    transition: transform 1.5s ease-in-out;
}

.mongoImg{
    width: 60%;
}

.firebaseImg{
    margin-left: 23%;
    width: 37%;
}

.skillsWrapper{
    display: grid;
    grid-template-rows: 33% 67%;
    grid-template-columns: 33% 33% 33%;
    padding-bottom: 50px;
    min-height: calc(20vw + 300px);
}



.databaseWrapper{
    text-align: center;
    // border: 2px solid black;
    width: 33vw;
    -webkit-transition: transform 1.5s ease-in-out;
    transition: transform 1.5s ease-in-out;
    height: auto;
    
    &:hover{
        // background-color: black;
        transform: scale(2) translate(16.5vw, 25%);
        left: 0;
        position: absolute;
        z-index: 20;
        height: auto;
    } &:hover .firebaseImg {
        transform: translate(0%, -100%);
    }
}

.database{
    justify-items: center;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 50% 50%;
}



.frontEndWrapper{
    // max-width: 33%;
    text-align: center;
    // border: 2px solid black;
    left: 33vw;
    // float: left;
    width: 33vw;
    -webkit-transition: transform 1.5s ease-in-out;
    transition: transform 1.5s ease-in-out;
    
    &:hover{
        transform: scale(2) translate(0%, 25%);
        position: absolute;
        z-index: 20;


        // Never using different size images again
        // row1
    } &:hover .cssImg{
        transform: translate(0%, -220%);
    } &:hover .cssGridImg{
        transform: translate(0%, -163%);
        
        // row2
    } &:hover .htmlImg{
        transform: translate(230%, -150%);
    } &:hover .jsImg{
        transform: translate(0%, -150%);
    } &:hover .jQueryImg{
        transform: translate(-225%, -150%);
      
        // row3
    } &:hover .muImg{
        transform: translate(-0%, -150%);
    } &:hover .reactImg{
        transform: translate(-0%, -300%);
    } &:hover .sassImg{
        transform: translate(10%, -150%);
    }
    
    
}

.frontEnd{
    justify-items: center;
    display: grid;
    grid-gap: 1vw;
    grid-template-columns: 18% 18% 18% 18% 18%;
    grid-template-rows: 20% 20% 20% 20% 20%;

}




.backEndWrapper{
    text-align: center;
    width: 33vw;
    left: 66vw;
    // position: relative;
    -webkit-transition: transform 1.5s ease-in-out;
    transition: transform 1.5s ease-in-out;
    &:hover{
        // background-color: black;
        transform: scale(2) translate(-16.5vw, 25%);
        position: absolute;
        z-index: 20;
    }&:hover .apiImg{
        transform: translate(-100%, -100%);
    }&:hover .ajaxImg{
        transform: translate(-100%, 0%);
    }&:hover .nodeImg{
        transform: translate(100%, -200%);
    }&:hover .jsonImg{
        transform: translate(100%, -100%);
    }
}

.backEnd{
    justify-items: center;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 33% 33% 33%;
}
