.skillsImg {
  width: 50%;
}

.mongoImg {
  width: 60%;
}

.firebaseImg {
  margin-left: 23%;
  width: 37%;
  -webkit-transition: transform 2s ease-in-out;
  -webkit-transition: -webkit-transform 2s ease-in-out;
  transition: -webkit-transform 2s ease-in-out;
  transition: transform 2s ease-in-out;
  transition: transform 2s ease-in-out, -webkit-transform 2s ease-in-out;
}

.skillsWrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 33% auto;
      grid-template-rows: 33% auto;
  -ms-grid-columns: 33% 33% 33%;
      grid-template-columns: 33% 33% 33%;
  padding-bottom: 50px;
  min-height: 500px;
}

.frontEndWrapper {
  text-align: center;
  left: 33vw;
  width: 33vw;
  -webkit-transition: transform 2s ease-in-out;
  -webkit-transition: -webkit-transform 2s ease-in-out;
  transition: -webkit-transform 2s ease-in-out;
  transition: transform 2s ease-in-out;
  transition: transform 2s ease-in-out, -webkit-transform 2s ease-in-out;
}

.frontEndWrapper:hover {
  background-color: black;
  -webkit-transform: scale(2) translate(0%, 20%);
          transform: scale(2) translate(0%, 20%);
  position: absolute;
  z-index: 20;
}

.frontEnd {
  justify-items: center;
  display: -ms-grid;
  display: grid;
  grid-gap: 1vw;
  -ms-grid-columns: auto auto auto auto auto;
      grid-template-columns: auto auto auto auto auto;
  -ms-grid-rows: auto auto auto auto auto;
      grid-template-rows: auto auto auto auto auto;
}

.backEndWrapper {
  text-align: center;
  width: 33vw;
  left: 66vw;
  -webkit-transition: transform 2s ease-in-out;
  -webkit-transition: -webkit-transform 2s ease-in-out;
  transition: -webkit-transform 2s ease-in-out;
  transition: transform 2s ease-in-out;
  transition: transform 2s ease-in-out, -webkit-transform 2s ease-in-out;
}

.backEndWrapper:hover {
  background-color: black;
  -webkit-transform: scale(2) translate(-16.5vw, 20%);
          transform: scale(2) translate(-16.5vw, 20%);
  position: absolute;
  z-index: 20;
}

.backEnd {
  justify-items: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
}

.databaseWrapper {
  text-align: center;
  width: 33vw;
  -webkit-transition: transform 2s ease-in-out;
  -webkit-transition: -webkit-transform 2s ease-in-out;
  transition: -webkit-transform 2s ease-in-out;
  transition: transform 2s ease-in-out;
  transition: transform 2s ease-in-out, -webkit-transform 2s ease-in-out;
  height: auto;
}

.databaseWrapper:hover {
  background-color: black;
  -webkit-transform: scale(2) translate(16.5vw, 20%);
          transform: scale(2) translate(16.5vw, 20%);
  left: 0;
  position: absolute;
  z-index: 20;
  height: auto;
}

.databaseWrapper:hover .firebaseImg {
  -webkit-transform: translate(0%, -100%);
          transform: translate(0%, -100%);
}

.database {
  justify-items: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
}
/*# sourceMappingURL=skills.css.map */