
.skillsImg{
    width: 50%;
}

.mongoImg{
    width: 60%;
}

.firebaseImg{
    margin-left: 23%;
    width: 37%;
}

.skillsWrapper{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 33% 33% 33%;
    padding-bottom: 50px;
}

.frontEndWrapper{
    // max-width: 33%;
    text-align: center;
    border: 2px solid black;
    // float: left;
    transition: all 0.5s ease-in-out;
    
    &:hover{
        width: 100%;
        transform: scale(1);
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        left: 0;
        position: absolute;
        z-index: 20;
        // background-color: gray;
        // cursor: pointer;
        // box-shadow: inset 0 0 0 25px #53a7ea;
    }
}


.frontEndWrapper{
    &:hover + .databaseWrapper{
        color:white;
    }
}

.backEndWrapper{
    &:hover + .frontEndWrapper{
        color:white;
    }
}



.frontEnd{
    justify-items: center;
    display: grid;
    grid-gap: 1vw;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;

}

.backEndWrapper{
    // width: 33%;
    text-align: center;
    border: 2px solid black;
    // margin-left: 33%;
    // top:
    // position: absolute;
    // &:hover .databaseWrapper{
    //     display: none;
    //     color: white;
    // }
    &:hover{
        width: 100%;
        transform: scale(1);
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        left: 0;
        position: absolute;
        z-index: 20;
    }
}

.backEnd{
    justify-items: center;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}

.databaseWrapper{
    text-align: center;
    border: 2px solid black;
    // display: none;
    width: 100%;
    transform: scale(0.8);
    // -webkit-transition: transform 2s ease-in-out;
    // transition: transform 2s ease-in-out;
    
    &:hover{
        // transition: width 2s, height 4s;
        background-color: black;
        width: 120%;
        // transform: scale(1.2);
        // -webkit-transform: scale(1.2);
        // -ms-transform: scale(1.2);
        // transform: translate(0%,10%);
        left: 0;
        position: absolute;
        z-index: 20;
    }
}

.database{
    justify-items: center;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
}